[Unit]
Description=Set user passwords from hashed credential files
After=systemd-sysusers.service
Requires=systemd-sysusers.service
RequiresMountsFor=/run /var

[Service]
Type=oneshot
ExecStart={{ user_creation_script_path }}/set-user-passwords.sh
RemainAfterExit=yes
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
