# Managed by Ansible - sops-secrets role
# Creates symlinks from configured paths to decrypted secrets in {{ secrets_runtime_dir }}

{% if secrets_paths.global is defined %}
# Global secrets symlinks
{% for secret_key, symlink_path in secrets_paths.global.items() %}
# Create parent directory for {{ symlink_path }}
d {{ symlink_path | dirname }} 0755 root root -
# Symlink {{ secret_key }} -> {{ symlink_path }}
L+ {{ symlink_path }} - - - - {{ secrets_runtime_global_dir }}/{{ secret_key | replace('.', '/') }}
{% endfor %}
{% endif %}

{% if secrets_paths[container_hostname] is defined %}
# Host-specific secrets symlinks for {{ container_hostname }}
{% for secret_key, symlink_path in secrets_paths[container_hostname].items() %}
# Create parent directory for {{ symlink_path }}
d {{ symlink_path | dirname }} 0755 root root -
# Symlink {{ secret_key }} -> {{ symlink_path }}
L+ {{ symlink_path }} - - - - {{ secrets_runtime_host_dir }}/{{ secret_key | replace('.', '/') }}
{% endfor %}
{% endif %}
