[Unit]
Description=Set hostname from kernel cmdline
DefaultDependencies=no
After=systemd-remount-fs.service
Before=systemd-hostnamed.service
RequiresMountsFor=/etc

[Service]
Type=oneshot
ExecStart={{ base_config_hostname_script_path }}
RemainAfterExit=yes

[Install]
WantedBy=sysinit.target
