[global]
font="{{ theme_data.font.style.serif }} {{ theme_data.font.size.popups }}"
separator_color="{{ theme_data.colors.base02 }}"

[urgency_critical]
background="{{ theme_data.colors.base01 }}FF"
foreground="{{ theme_data.colors.base05 }}"
frame_color="{{ theme_data.colors.base08 }}"

[urgency_low]
background="{{ theme_data.colors.base01 }}FF"
foreground="{{ theme_data.colors.base05 }}"
frame_color="{{ theme_data.colors.base03 }}"

[urgency_normal]
background="{{ theme_data.colors.base01 }}FF"
foreground="{{ theme_data.colors.base05 }}"
frame_color="{{ theme_data.colors.base0D }}"
