@define-color base00 {{ theme_data.color.base00 }};
@define-color base01 {{ theme_data.color.base01 }};
@define-color base02 {{ theme_data.color.base02 }};
@define-color base03 {{ theme_data.color.base03 }};
@define-color base04 {{ theme_data.color.base04 }};
@define-color base05 {{ theme_data.color.base05 }};
@define-color base06 {{ theme_data.color.base06 }};
@define-color base07 {{ theme_data.color.base07 }};
@define-color base08 {{ theme_data.color.base08 }};
@define-color base09 {{ theme_data.color.base09 }};
@define-color base0A {{ theme_data.color.base0A }};
@define-color base0B {{ theme_data.color.base0B }};
@define-color base0C {{ theme_data.color.base0C }};
@define-color base0D {{ theme_data.color.base0D }};
@define-color base0E {{ theme_data.color.base0E }};
@define-color base0F {{ theme_data.color.base0F }};
* {
  font-size:15px;
  font-family: {{ theme_data.font.style.sans }};
  color: @base05;
}
