[completion.active]
bg = "{{ theme_data.colors.base03 }}"
fg = "{{ theme_data.colors.base0E }}"

[completion.border]
fg = "{{ theme_data.colors.base0D }}"

[completion.inactive]
fg = "{{ theme_data.colors.base05 }}"

[[filetype.rules]]
fg = "{{ theme_data.colors.base0C }}"
mime = "image/*"

[[filetype.rules]]
fg = "{{ theme_data.colors.base0A }}"
mime = "video/*"

[[filetype.rules]]
fg = "{{ theme_data.colors.base0A }}"
mime = "audio/*"

[[filetype.rules]]
fg = "{{ theme_data.colors.base0E }}"
mime = "application/zip"

[[filetype.rules]]
fg = "{{ theme_data.colors.base0E }}"
mime = "application/gzip"

[[filetype.rules]]
fg = "{{ theme_data.colors.base0E }}"
mime = "application/tar"

[[filetype.rules]]
fg = "{{ theme_data.colors.base0E }}"
mime = "application/bzip"

[[filetype.rules]]
fg = "{{ theme_data.colors.base0E }}"
mime = "application/bzip2"

[[filetype.rules]]
fg = "{{ theme_data.colors.base0E }}"
mime = "application/7z-compressed"

[[filetype.rules]]
fg = "{{ theme_data.colors.base0E }}"
mime = "application/rar"

[[filetype.rules]]
fg = "{{ theme_data.colors.base0E }}"
mime = "application/xz"

[[filetype.rules]]
fg = "{{ theme_data.colors.base0B }}"
mime = "application/doc"

[[filetype.rules]]
fg = "{{ theme_data.colors.base0B }}"
mime = "application/pdf"

[[filetype.rules]]
fg = "{{ theme_data.colors.base0B }}"
mime = "application/rtf"

[[filetype.rules]]
fg = "{{ theme_data.colors.base0B }}"
mime = "application/vnd.*"

[[filetype.rules]]
bold = true
fg = "{{ theme_data.colors.base0D }}"
mime = "inode/directory"

[[filetype.rules]]
fg = "{{ theme_data.colors.base05 }}"
mime = "*"

[help.desc]
fg = "{{ theme_data.colors.base05 }}"

[help.footer]
fg = "{{ theme_data.colors.base05 }}"

[help.hovered]
bg = "{{ theme_data.colors.base03 }}"
fg = "{{ theme_data.colors.base05 }}"

[help.on]
fg = "{{ theme_data.colors.base0E }}"

[help.run]
fg = "{{ theme_data.colors.base0C }}"

[input.border]
fg = "{{ theme_data.colors.base0D }}"

[input.selected]
bg = "{{ theme_data.colors.base03 }}"

[input.title]
fg = "{{ theme_data.colors.base05 }}"

[input.value]
fg = "{{ theme_data.colors.base05 }}"

[mgr]
syntect_theme = "{{ desktop_hypr_source_dir }}/yazi-syntect.tmTheme"

[mgr.border_style]
fg = "{{ theme_data.colors.base04 }}"

[mgr.count_copied]
bg = "{{ theme_data.colors.base0B }}"
fg = "{{ theme_data.colors.base00 }}"

[mgr.count_cut]
bg = "{{ theme_data.colors.base08 }}"
fg = "{{ theme_data.colors.base00 }}"

[mgr.count_selected]
bg = "{{ theme_data.colors.base0A }}"
fg = "{{ theme_data.colors.base00 }}"

[mgr.cwd]
fg = "{{ theme_data.colors.base0C }}"

[mgr.find_keyword]
bold = true
fg = "{{ theme_data.colors.base0B }}"

[mgr.find_position]
fg = "{{ theme_data.colors.base0E }}"

[mgr.hovered]
bg = "{{ theme_data.colors.base02 }}"
bold = true

[mgr.marker_copied]
bg = "{{ theme_data.colors.base0B }}"
fg = "{{ theme_data.colors.base0B }}"

[mgr.marker_cut]
bg = "{{ theme_data.colors.base08 }}"
fg = "{{ theme_data.colors.base08 }}"

[mgr.marker_selected]
bg = "{{ theme_data.colors.base0A }}"
fg = "{{ theme_data.colors.base0A }}"

[mgr.preview_hovered]
bg = "{{ theme_data.colors.base02 }}"
bold = true

[mode.normal_alt]
bg = "{{ theme_data.colors.base00 }}"
fg = "{{ theme_data.colors.base0D }}"

[mode.normal_main]
bg = "{{ theme_data.colors.base0D }}"
bold = true
fg = "{{ theme_data.colors.base00 }}"

[mode.select_alt]
bg = "{{ theme_data.colors.base00 }}"
fg = "{{ theme_data.colors.base0B }}"

[mode.select_main]
bg = "{{ theme_data.colors.base0B }}"
bold = true
fg = "{{ theme_data.colors.base00 }}"

[mode.unset_alt]
bg = "{{ theme_data.colors.base00 }}"
fg = "{{ theme_data.colors.base0F }}"

[mode.unset_main]
bg = "{{ theme_data.colors.base0F }}"
bold = true
fg = "{{ theme_data.colors.base00 }}"

[pick.active]
fg = "{{ theme_data.colors.base0E }}"

[pick.border]
fg = "{{ theme_data.colors.base0D }}"

[pick.inactive]
fg = "{{ theme_data.colors.base05 }}"

[status.perm_exec]
fg = "{{ theme_data.colors.base0B }}"

[status.perm_read]
fg = "{{ theme_data.colors.base0A }}"

[status.perm_sep]
fg = "{{ theme_data.colors.base0C }}"

[status.perm_type]
fg = "{{ theme_data.colors.base0D }}"

[status.perm_write]
fg = "{{ theme_data.colors.base08 }}"

[status.progress_error]
bg = "{{ theme_data.colors.base00 }}"
fg = "{{ theme_data.colors.base08 }}"

[status.progress_label]
bg = "{{ theme_data.colors.base00 }}"
fg = "{{ theme_data.colors.base05 }}"

[status.progress_normal]
bg = "{{ theme_data.colors.base00 }}"
fg = "{{ theme_data.colors.base05 }}"

[tabs.active]
bg = "{{ theme_data.colors.base0D }}"
bold = true
fg = "{{ theme_data.colors.base00 }}"

[tabs.inactive]
bg = "{{ theme_data.colors.base01 }}"
fg = "{{ theme_data.colors.base0D }}"

[tasks.border]
fg = "{{ theme_data.colors.base0D }}"

[tasks.hovered]
bg = "{{ theme_data.colors.base03 }}"
fg = "{{ theme_data.colors.base05 }}"

[tasks.title]
fg = "{{ theme_data.colors.base05 }}"

[which.cand]
fg = "{{ theme_data.colors.base0C }}"

[which.desc]
fg = "{{ theme_data.colors.base05 }}"

[which.mask]
bg = "{{ theme_data.colors.base02 }}"

[which.rest]
fg = "{{ theme_data.colors.base0F }}"

[which.separator_style]
fg = "{{ theme_data.colors.base04 }}"
