[Unit]
Description=Create SOPS secrets symlinks
After=sops-secrets.service
RequiresMountsFor=/var /usr /run

[Service]
Type=oneshot
ExecStart=/usr/local/bin/create-symlinks
RemainAfterExit=yes
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
